@tailwind base;
@tailwind components;
@tailwind utilities;

/* #A1CE4F  #00525D #BEFBFF #448087*/


.parent{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 40px;
    transition: 1s;
    @apply pl-32 pr-32 pt-4 border border-gray-300;
}



.nav{
    font-size: 16px;
   
    @apply flex justify-between 
}

.nav-elements{
    @apply flex justify-center gap-6
}


.nav-item{
    font-size: 14px;
    @apply pb-2 select-none border-b-2 border-white
}

.nav-item:hover{
    transition: .2s;
    @apply cursor-pointer border-b-2 border-black 
}

.scroll-down{
    @apply flex  mt-16 w-fit p-3 gap-2
    
}
.mouseIcon{
    font-size: 30px;
}



@media (max-width: 1000px) {
    .parent{
        font-size: 16px;
        transition: 1s;
        @apply pl-20 pr-20 
    }
    
}

@media (max-width: 800px){
    .parent{
        font-size: 14px;
        transition: 1s;
        @apply pl-10 pr-10;
    }
    .parent{
        display: none;
    }
}